<h1>Shows From the Shows Controller</h1>
<p>Form to create episode, send to /create endpoint for episode controller</p>
<h2>Show Name</h2>
<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @show.genre %>
</p>
<p>
  <strong>Id:
  </strong>
  <%= @show.id %>
</p>
<%= form_with local: true do |form| %>
<h1>Create Episode for this show</h1>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>
<p>
  <%= form.label :notes %><br>
  <%= form.text_area :notes %>
</p>
<p>
  <%= form.label :map3_file%><br/>
  <%= form.text_field :map3_file %>
</p>
<p>
  <%= form.submit %>
</p>
<% end %>